<div class="container">
  <div class="container">
    {{#each post}}
      <div class="card mb-3">
        <div class="card-header d-flex justify-content-between">
          <div class="user-info">
            <a href="/{{nome}}">{{nome}}</a>
            <small class="text-muted"> - {{data}}</small>
          </div>
          <div class="likes text-muted">
            {{curtidas}} likes
          </div>
        </div>
        <div class="card-body">
          <div class="card-title">
            <h5>{{titulo}}</h5>
          </div><hr>
          <div class="card-text">
            {{{conteudo}}}
          </div>
          <div class="container">
            <form action="/post/{{id}}/like" method="post">
              <small>
                <button type="submit" class="btn btn-outline-danger">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                  </svg>
                  Curtir
                </button>
              </small>
            </form>
          </div>
          {{!-- <div class="card-footer">
            <a href="/post/{{id}}/comentarios">
              <i class="bi bi-chat-dots"></i>
              {{comentarios.length}} Coment치rio(s)
            </a>
          </div> --}}
        </div>
      </div>
    {{/each}}
  </div>
</div>

<!-- Formul치rio para comentar -->
<div class="container">
  {{#each post}}
    <form action="/post/{{id}}/publicar/comentario" class="form-control mb-3" method="post">
      <div class="mb-3">
        <label for="comentario" class="form-label">Coment치rio</label>
        <textarea class="form-control" id="comentario" name="comentario" style="height: 119px; resize: none;" rows="3"></textarea>
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-success">
          <i>
            Comentar
          </i>
        </button>
      </div>
    </form>
  {{/each}}
</div>

<!-- Lista de coment치rios -->
<div class="container">
  {{#each comments}}
    <div class="card mb-3">
      <div class="card-header">
        <div class="user-info">
          <a href="/{{nome}}">{{nome}}</a>
          <small class="text-muted"> - {{data}}</small>
        </div>
      </div>
      <div class="card-body">
        <div class="card-text">
          {{{comentario}}}
        </div>
      </div>
    </div>
  {{/each}}
</div>